<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관상 정보</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="/static/result{{ face_id }}.jpg" alt="Face Image">
        </div>
        <div class="evaluation">
            <h2>평가 : 용의 상</h2>
            <p>용상 : 99%</p>
            <p>범상 : 1%</p>
            <p>호랑이상 : 0%</p>
            <p>사자상 : 0%</p>
            <p>고양이상 : 0%</p>
        </div>
        <div class="evaluation">
            <p>이 얼굴은 용의 상으로 평가되었습니다. 용의 상은 강력한 리더십과 카리스마를 나타내며, 주변 사람들에게 깊은 인상을 남깁니다. 이러한 얼굴을 가진 사람은 대개 결단력이 있으며, 목표를 향해 끊임없이 나아가는 성향을 가지고 있습니다. 또한, 용의 상은 지혜와 용기를 상징하며, 어려운 상황에서도 침착함을 유지할 수 있는 능력을 나타냅니다. 이러한 특성은 사회적, 직업적 성공을 이끄는 데 큰 도움이 됩니다.</p>
        </div>
        <a href="/result" class="back-button">결과 페이지로 돌아가기</a>
    </div>
</body>
</html> 